@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #1a1211;
  overflow-y: hidden;
  font-family: 'Special Elite', cursive;
  line-height: 1.1em;
}

body {
  display: flex;
  flex-direction: column;
}

.panel {
  background-color: #aca9a9;
  margin: 0.5rem;
  padding: 0.25rem 2rem;
}

header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header > h1 {
  flex: 0 0 50%;
  font-size: 2.5rem;
}

#header-controls {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#header-controls #out-header-status {
  flex: 0 0 20%;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

main > .panel {
  height: 100%;
}

main > .panel:nth-of-type(1) {
  flex: 1 1 70%;
}

main > .panel:nth-of-type(2) {
  flex: 1 1 30%;
}

.tippy-box {
  font-size: 0.85rem;
}

button,
span,
label,
input {
  font-size: 1.33rem;
  font-family: 'Special Elite', cursive;
}

button,
input {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #778a8c;
}

button {
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: #a4b2b4;
}

input {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.control {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  grid-gap: 0.5rem;
  align-items: center;
}

.control-text input + label {
  position: relative;
  transition: all 0.5s cubic-bezier(0,.8,0,1);
}

.control-text input + label::before {
  z-index: -1;
  content: '';
  top: -0.25rem;
  left: -0.75rem;
  bottom: -0.25rem;
  right: -0.75rem;
  position: absolute;
  background-color: #aca9a9;
  border-radius: 0.25rem;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0,.8,0,1);
}

.control-text input:focus + label::before {
  opacity: 1;
}

.control-text input:focus + label {
  transform: translate(150%, -110%) scale(0.8);
}


@media screen and (max-width: 1250px) {
  html {
    font-size: 0.75em;
  }
}

@media screen and (max-width: 950px) {
  header {
    flex-direction: column;
    flex-wrap: wrap;
  }

  #header-controls {
    justify-content: left;
    width: 100%;
    grid-gap: 2rem;
  }
}