@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #1a1211;
  overflow-y: hidden;
  font-family: 'Special Elite', cursive;
  line-height: 1.1em;
}

.panel {
  background-color: #aca9a9;
  margin: 0.5%;
  padding: 0.25% 2rem;
}

header {
  height: 10%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header > h1 {
  flex: 0 0 50%;
  font-size: 2.5rem;
}

.control-group {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

#header-controls {
  flex: 1 1 auto;
  justify-content: space-around;
  align-items: center;
}

#header-controls #out-header-status {
  flex: 0 0 20%;
}

main {
  height: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

main > .panel {
  height: 100%;
  margin-top: 0;
}

main > .panel:nth-of-type(1) {
  flex: 1 1 70%;
}

main > .panel:nth-of-type(2) {
  flex: 1 1 30%;
}

.tippy-box {
  font-size: 0.85rem;
}

button,
span,
label,
input {
  font-size: 1.33rem;
  font-family: 'Special Elite', cursive;
}

button,
input {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #778a8c;
}

button {
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: #a4b2b4;
}

input {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.control {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  grid-gap: 0.5rem;
  align-items: center;
}

.control-text input + label {
  position: relative;
  transition: all 0.5s cubic-bezier(0,.8,0,1);
}

.control-text input + label::before {
  z-index: -1;
  content: '';
  top: -0.25rem;
  left: -0.75rem;
  bottom: -0.25rem;
  right: -0.75rem;
  position: absolute;
  background-color: #aca9a9;
  border-radius: 0.25rem;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0,.8,0,1);
}

.control-text input:focus + label::before {
  opacity: 1;
}

.control-text input:focus + label {
  transform: translate(150%, -110%) scale(0.8);
}

#panel-left {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.selector {
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-gap: 1rem;
  flex-wrap: nowrap;
  background-color: #947671;
  margin: 1rem 0;
  padding: 1rem;
}

.portrait {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  grid-gap: 0.25rem;
  justify-content: center;
  align-items: center;
}

.portrait > img {
  flex: 1 1 auto;
  width: 100%;
  height: auto;
  border: 2px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.5s cubic-bezier(.75,.25,.25,.75);
}

.portrait > p {
  background-color: #aca9a9aa;
  border-radius: 0.25rem;
  padding: 0.25rem 0;
  width: 100%;
}

.selected > img {
  border-color: white;
}

#panel-right {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

#panel-right > * {
  margin-top: 0.5rem;
}

#panel-right > img {
  width: 100%;
  height: auto;
  margin-top: 0;
}

#group-stats {
  flex-wrap: wrap;
  justify-content: space-between;
}

#group-stats input {
  max-width: 5rem;
}

#group-stats label {
  font-family: monospace;
}

@media screen and (max-width: 1250px) {
  html {
    font-size: 0.75em;
  }
}

@media screen and (max-width: 950px) {
  header {
    display: block;
    text-align: center;
  }
}